.tg-button {
    display: inline-flex;
    align-items: center;
    background-color: #0088cc; /* Колір Telegram */
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 136, 204, 0.3);
}

.tg-button i {
    margin-right: 10px;
    font-size: 1.2em;
}

.tg-button:hover {
    background-color: #0077b5;
    transform: translateY(-3px); /* Кнопка трохи піднімається */
    box-shadow: 0 6px 20px rgba(0, 136, 204, 0.5);
}

.tg-button:active {
    transform: translateY(-1px); /* Ефект натискання */
}
